/******************* 
Float Button
*******************/
@import "variable.scss";
.small-btn {
  font-size: 10px !important;
  line-height: 24px !important;
  padding: 0 12px !important;
}

.submit-btn {
  width: 200px;
  display: block !important;
  margin: 0 auto !important;
  margin-top: 6px !important;
  .count {
    background: white;
    color: $primary-color !important;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 100px;
    line-height: 16px;
    font-size: 10px;
    position: absolute;
    left: 0;
    font-weight: 900;
    top: 50%;
    transform: translate(12px, -50%);
  }
}

.fixed-submit-btn {
  box-shadow: 0 -1px 3px #0000001f, 0 1px 2px #00000030 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 4px 10px 10px;
  button {
    width: 200px;
    display: block !important;
    margin: 0 auto !important;
    margin-top: 6px !important;
    .count {
      background: white;
      color: $primary-color !important;
      width: 16px;
      height: 16px;
      display: inline-block;
      border-radius: 100px;
      line-height: 16px;
      font-size: 10px;
      position: absolute;
      left: 0;
      font-weight: 900;
      top: 50%;
      transform: translate(12px, -50%);
    }
  }
  &.two-button {
    display: flex;
    button {
      width: 150px;
    }
  }
}

.selection-btn {
  display: flex;
  align-items: center;
  min-width: 300px !important;
  .count {
    background: white;
    color: $primary-color !important;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 100px;
    line-height: 16px;
    font-size: 10px;
    position: absolute;
    left: 0;
    font-weight: 900;
    top: 50%;
    transform: translate(12px, -50%);
  }
}

.float-btn {
  position: fixed !important;
  bottom: 71px;
  right: 15px;
  z-index: 10;
  &.hide {
    bottom: -65px !important;
  }
  &.no-footer {
    bottom: 15px;
  }
  &.secondary {
    bottom: 86px;
  }
}

.mat-secondary {
  background-color: $primary-color!important;
  color: $color-white !important;
}

@media (min-width: 768px) {
  .float-btn {
    right: 30px;
  }

  .float-btn.no-footer {
    bottom: 30px;
  }

  .float-btn.secondary {
    bottom: 101px;
  }
}
