@import "variable.scss";
@import "typography.scss";

.calendar {
  background: $color-dark-blue;
  .switch-month {
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 12px 0px 4px;
    span {
      margin: 0px 8px;
    }
  }
  .cal-month-view {
    padding: 10px 0px;
    background-size: cover;
    //   background-image: url(../../ifca-angular/sales-angular/ClientApp/src/assets/images/background/calendar-bg.png);
    background: none;
    .cal-header .cal-cell {
      color: white;
      @extend .medium-font, .fs-10;
    }

    .cal-cell-row {
      border: none;
    }

    .cal-days {
      border: none;

      .cal-day-cell:not(:last-child) {
        border: none;
      }

      .cal-day-number {
        color: #fff;
        font-size: 14px;
        text-align: center;
        opacity: 1;
        margin: 0px;
        float: none;
        font-weight: 400;
        border-radius: 100px;
        height: 24px;
        width: 24px;
        line-height: 24px;
        display: inline-block;
        margin: 6px 0px;
      }

      .cal-cell-row {
        border: none;
      }
    }

    .cal-cell-top {
      min-height: fit-content;
      text-align: center;
    }
    .cal-day-cell {
      min-height: fit-content;
    }

    .cal-day-cell.cal-weekend .cal-day-number {
      color: #fff;
      font-size: 14px;
    }
    .cal-day-cell.cal-today {
      background: none;
      .cal-day-number {
        font-size: 14px;
        font-weight: 600;
        background: $color-orange;
        color: #212121;
      }
    }
    .cal-day-cell.cal-out-month .cal-day-number {
      opacity: 0.5;
    }

    .cal-cell-row .cal-cell:hover {
      background: none;
    }
    .cal-cell-row:hover {
      background-color: unset;
    }
  }
}
