@import "variable.scss";

.card-details {
  margin: 8px 8px !important;
  box-shadow: $box-shadow !important;
  .divider {
    border-bottom: 1px solid;
    color: #dedede;
    width: calc(100% + 24px);
    margin: 0px -12px 12px;
  }
  .mat-card-header {
    background: $color-beige;
    border-top: 1px solid #00000014;
    border-left: 0.01px solid #d2e0ff;
    padding: 10px 12px !important;
    border-right: 0.01px solid #d2e0ff;
    .mat-card-header-text {
      margin: 0px;
    }
    .xsTitle-f {
      color: var($color-dark-blue);
    }

    .mat-icon {
      position: absolute;
      right: 16px;
      top: 8px;
      color: $primary-color;
      &.green {
        color: $color-green;
      }
    }
    .mat-slide-toggle {
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }
  .mat-card-content {
    .information-banner {
      box-shadow: unset;
      margin: 0;
      width: 100%;
    }
    &.white-bg {
      .expand-list,
      .mat-expansion-panel-body {
        background: #fff;
      }
    }
    font-size: unset;
    line-height: unset;
    padding: 12px 12px 0px !important;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    &.with-swiper {
      padding: 0px !important;
    }
    .left {
      width: 50%;
      padding-right: 4px;
    }

    .right {
      width: 50%;
      padding-left: 4px;
    }

    .mat-form-field-suffix {
      align-self: center;
    }

    section {
      padding-bottom: 12px;
      width: 100%;
      .mat-checkbox-label,
      .mat-radio-label-content {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        white-space: normal;
      }
      .mat-checkbox-inner-container {
        margin: 0 8px auto 0px;
      }
    }

    .core-list {
      width: calc(100% + 24px);
      box-shadow: unset !important;
      margin: -12px -12px 0px !important;
      .mat-list-item.header {
        background: $color-beige;
      }
    }
  }
  .mat-card-actions {
    padding: 8px 12px !important;
    display: flex;
    flex-flow: row-reverse;
    background-color: #f5f5f5;
    &.no-bg {
      background-color: unset;
    }
    button {
      margin-left: 12px;
      span {
        font-size: 12px;
      }
    }
  }
  .timeline {
    margin-top: -12px;
    width: 100%;
    li {
      margin-bottom: 12px;
    }
    .timeline-panel {
      padding: 0px;
      @media screen and (max-width: 767px) {
        width: calc(100% - 32px);
      }
    }
    .timeline-badge {
      @media screen and (max-width: 767px) {
        left: 4px;
      }
    }
    &::before {
      @media screen and (max-width: 767px) {
        left: 8px;
      }
    }
  }
}

.upload-avatar {
  margin: 0 auto;
  width: fit-content;
  position: relative;
  button {
    position: absolute;
    bottom: 0;
    right: -12px;
  }
}

.uploaded-row {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  margin: 12px -18px -12px 0px !important;
  overflow: unset !important;

  .img-container {
    width: 25%;
    padding-right: 18px;
    height: fit-content;
    position: relative;
    margin-bottom: 12px;
    text-align: center;

    .remove {
      position: absolute;
      right: 16px;
      top: -10px;
      background: #f72c5a;
      border-radius: 100px;
      height: 22px;
      width: 22px;
      font-size: 14px;
      cursor: pointer;
      color: white;
      text-align: center;
      line-height: 20px;
      font-weight: bold;
    }
    img {
      object-fit: contain;
      width: 100%;
      border: 1px solid #e2e2e2;
      height: 80px;
      border-radius: 3px;
      background: #eaeaea;
    }
  }
}

.function-menu {
  .mat-menu-item {
    height: fit-content;
    line-height: unset;
    padding: 8px 12px !important;
  }
}
