@import "variable.scss";

.pie-chart {
  height: 200px;
  margin-top: -30px;
}

.pie-chart-half {
  height: 140px;
}

.stack-bar {
  display: flex;
  border-radius: 3px;
  &.large .bar {
    height: 50px;
  }
  .bar {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    line-height: 16px;
    font-weight: 500;
    background: black;
    font-size: 10px;
    text-align: right;
    padding: 0px 4px;
    min-width: fit-content;
    color: $color-white;

    &:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &.dark-blue {
      background: $color-dark-blue;
    }
    &.blue {
      background: $primary-color;
    }
    &.white {
      background: $color-white;
    }
    &.green {
      background: #009688;
    }
    &.light-blue {
      background: #78a9ff;
    }
    &.very-light-blue {
      color: #7d7aa7;
      background: #d8dbee;
    }
    &.ligh-blue-c {
      color: $color-white;
      background: #4571c6
    }
    &.orange {
      color: $color-white;
      background: #ed7d31;
    }
  }
}
