@import "variable.scss";

.color-primary {
  color: $primary-color !important;
}

.color-dark-blue {
  color: $color-dark-blue !important;
}

.color-light-blue {
  color: $color-light-blue !important;
}

.color-green {
  color: $color-green !important;
}

.color-red {
  color: $color-red !important;
}

.color-orange {
  color: $color-orange !important;
}

.color-black {
  color: $color-black !important;
}

.color-grey {
  color: $color-grey !important;
}

.color-light-grey {
  color: $color-light-grey !important;
}

.color-white {
  color: $color-white !important;
}
