@import "variable.scss";
.ifca-header,
.ifca-general-header {
  background: url(assets/images/header-background.svg)!important;
  background-repeat: no-repeat !important;
  background-size: cover!important;
}

app-switch-project {
  .mat-icon-button {
    height: 38px;
  }
}

// .ifca-general-header .domain {
//   display: none;
// }

// .ifca-general-header .selected-obj {
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 18px;
//   color: $color-dark-blue;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   background: $color-light-blue;
//   padding: 6px;
//   border-radius: 3px;
//   margin-bottom: 1px;
// }

// .ifca-general-header .menu-burger {
//   background-color: #8992ff !important;
//   border-radius: 3px !important;
//   width: 30px;
//   height: 30px;
//   align-self: center;
//   margin-bottom: 1px;
// }

// .ifca-general-header.mat-toolbar-single-row {
//   height: fit-content !important;
//   padding: 4px 10px !important;
// }

// .ifca-general-header .btn {
//   position: absolute;
//   right: 12px;
//   margin-top: -6px;
//   font-size: 24px;
//   color: $color-dark-blue;
//   @media (min-width: 768px) {
//     right: 16px;
//   }
// }

// .ifca-general-header .selected-container {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   flex: 1;
//   width: 100%;
//   padding: 4px 0px 4px 6px;
//   align-self: center;
// }

// .ifca-general-header .bread-crumb .active {
//   font-weight: 600;
//   color: #ffb11f;
//   position: absolute;
//   right: 16px;
// }
