@import "color.scss";
@import "chart.scss";
@import "typography.scss";
@import "searchbar.scss";
@import "card.scss";
@import "button.scss";
@import "list.scss";
@import "page-container.scss";
@import "header.scss";
@import "timeline.scss";
@import "calendar.scss";
@import "swiper.scss";
@import "tab.scss";
@import "mortgage.scss";
@import "unit-selection.scss";
@import "empty-record.scss";
@import "pagination.scss";

/******************* 
Detail Card
*******************/
.card-title {
  font-size: 14px;
  font-weight: 500;
  padding: 16px 16px 0px;
}

.card-desc {
  color: #878787;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 16px;
}

.card-title-edit {
  position: absolute !important;
  right: 0px;
  top: 10px;
}

.card-title-edit.raised {
  right: 16px;
}

.detail-card .user-session {
  padding: 8px 16px;
}

.detail-card .label-container {
  padding: 16px 16px;
  text-align: center;
}

.label-container .title {
  font: 600 18px/20px Poppins;
  color: #212121;
}

.label-container .desc {
  font: 400 12px/14px Poppins;
  color: #212121;
}

.total-label {
  padding: 0px 16px;
  position: absolute;
  width: 100%;
}

@media (min-width: 768px) {
  .total-label {
    width: calc(100% - 29px);
  }
}

.total-label .container {
  background: #fff;
  padding: 12px 16px 8px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  border-top: 1px solid #dedede;
}

.total-label:after {
  background: linear-gradient(-45deg, transparent 16px, #fff 0),
    linear-gradient(45deg, transparent 16px, #fff 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 11px 25px;
  content: "";
  display: block;
  width: 100%;
  height: 20px;
}

.total-label .title {
  font-weight: 400;
  font-size: 14px;
  color: #f7982f;
  align-self: center;
}

.total-label .desc {
  font-weight: 600;
  font-size: 16px;
  color: #f7982f;
  text-align: right;
}

.user-session .picture {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 56px;
  width: 56px;
  padding: 2px;
  border-radius: 100px;
  margin: 0px auto 8px;
}

.user-session .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}

.user-session .title {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.user-session .desc {
  font-size: 12px;
  color: #878787;
  font-weight: 400;
}

.user-session .desc.highlight {
  background: #87878730;
  padding: 2px 6px;
  border-radius: 5px;
}

.detail-card.with-absolute-top {
  margin-top: 71px;
}

.detail-card .img-item {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.detail-card .img-item img {
  width: 100%;
  height: 100%;
  max-height: 150px;
  padding: 15px;
  background: #e4e4e4;
  -o-object-fit: contain;
  object-fit: contain;
}

.divider {
  border-bottom: 1px solid;
  margin-bottom: 20px;
  color: #dedede;
}

.white-divider {
  border-bottom: 1px solid;
  margin: 2px 0px !important;
  color: #fff;
}

.detail-card .info-container {
  padding: 0px 16px;
}

.detail-card .img-list .img-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border: 1px solid #e4e4e4;
}

.detail-card .img-list .upload {
  text-align: center;
  border: 1px dashed #949494;
  height: 130px;
  cursor: pointer;
  border-radius: 3px;
  padding-top: 30px;
  transition: all 0.3s;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.detail-card .img-list .upload:hover {
  background: #212121;
  color: #fff;
  border: 0px dashed #f7982f;
}

.detail-card .img-list .img-item {
  padding: 0px 5px 3px;
  position: relative;
}

.detail-card .img-list {
  margin: 16px -5px;
}

.detail-card .unit-list {
  margin: 16px -5px;
}

.detail-card .unit-list .unit-item {
  padding: 0px 8px 16px;
}

.detail-card .unit-list .unit-item button {
  width: 100%;
}

.detail-card .unit-list .unit-item.selected button {
  background: #f4511e;
  color: #fff;
}

.detail-card .info-item:first-child {
  margin-top: 16px;
}

.detail-card .info-item.with-top {
  margin-top: 16px;
}

.detail-card .info-title {
  font-size: 12px;
  font-weight: 400;
  color: #878787;
}

.detail-card .info-desc {
  font-size: 14px;
  font-weight: 500;
}

.detail-card .info-desc.checked {
  color: #f4511e;
}

.detail-card .info-desc.checked mat-icon {
  font-size: 12px !important;
}

.detail-card .info-item {
  margin-bottom: 16px;
}

.detail-card .form-field {
  padding-top: 16px;
}

.detail-card mat-checkbox {
  display: block;
}

.detail-card .form-field .mat-radio-button {
  width: 50%;
  margin-bottom: 15px;
}

.detail-card.expansion {
  margin: 16px 16px 0px;
}

.detail-card.expansion .mat-expansion-panel-header {
  padding-left: 0px;
}

.detail-card.expansion .mat-expansion-panel-body {
  padding: 0px;
}

.detail-card .divider {
  margin-bottom: 0px;
}

.form-field .left {
  padding-right: 10px;
}

.form-field .right {
  padding-left: 10px;
}

.mat-form-field.with-hint {
  margin-bottom: 16px;
}

.mat-form-field.with-hint-2 {
  margin-bottom: 32px;
}
/******************* 
Footer Menu
*******************/
.footer-menu {
  padding: 10px 0px;
  align-items: center;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  height: 56px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.15);
  @extend .remove-blue-highlight;
  &.with-legend {
    flex-wrap: wrap;
    height: fit-content;
  }
  .legend-row {
    padding: 4px 0px 8px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 8px;
  }
  &.with-padding {
    padding: 10px 16px;
  }
  .footer-button {
    min-width: 95px;
    max-width: fit-content;
    // width: 110px;
    // max-width: 150px;
    &.big {
      min-width: 150px;
    }
    span {
      color: $color-white;
    }
    .count {
      background: white;
      color: $primary-color !important;
      width: 16px;
      height: 16px;
      display: inline-block;
      border-radius: 100px;
      line-height: 16px;
      font-size: 10px;
      position: absolute;
      left: 0;
      font-weight: 900;
      top: 50%;
      transform: translate(12px, -50%);
    }
  }

  &.menu-in-bs {
    box-shadow: unset;
    position: unset;
    width: 100%;
  }

  .back-btn {
    float: left;
    margin-left: 1rem;
  }

  .next-btn {
    float: right;
    margin-right: 1rem;
  }
}

.footer-icon {
  color: #212121;
}

.footer-icon.disable {
  color: #b3b3b3;
}

.footer-icon.active {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffc249),
    to(#e25e00)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-title {
  display: block;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  color: #212121;
  margin-top: -6px;
  &.active {
    color: #ff9000;
  }
  &.disable {
    color: #b3b3b3;
  }
}

@media (min-width: 768px) {
  .footer-menu {
    width: calc(100% - 270px);
    left: unset;
    right: 15px;
    bottom: 0px;
    transition: 0.3s;
  }
}

/******************* 
Row List 
*******************/
.responsive-list {
  padding: 0px !important;
  cursor: pointer;

  &.content-header {
    cursor: unset;
    @extend .shadow;
    .item {
      background: #e5edff !important;
    }

    .smTitle-f {
      color: #001088;
    }
    .mat-list-item-content {
      padding: 10px 16px !important;
    }
  }

  &.view-switch {
    text-align: center;
    .mat-list-item-content {
      padding: 0px !important;
    }
    .value-f {
      line-height: 36px !important;
    }

    .active {
      background: $primary-color;
      border-radius: 3px;
      color: $color-white;
    }
  }

  &.filter-field {
    .mat-icon {
      font-size: 18px !important;
      height: 16px !important;
      width: 18px !important;
      margin-left: 8px;
    }

    .mat-list-icon {
      margin-left: 0px;
      padding: 0px 4px !important;
    }

    input {
      height: 16px;
      border: none;
      width: 100%;
      font: 400 12px/12px Poppins !important;
    }
  }

  .item {
    background: white;
    height: fit-content !important;
    border-radius: 3px;
  }

  .mat-radio-button {
    margin-left: 16px;
    width: unset !important;
    height: unset !important;
    margin-right: -12px;
  }

  .list-img {
    border-radius: 3px !important;
    height: 40px !important;
    width: 55px !important;
  }

  .icon-img {
    height: 30px !important;
    width: 30px !important;
    border-radius: 0 !important;
    object-fit: contain !important;
    align-self: center;
  }

  .mat-list-item-content {
    padding: 10px 8px !important;
  }
}

.responsive-list .item.sm .mat-list-item-content {
  padding: 4px 16px !important;
}

.responsive-list .item.selected {
  background: #fff6eb;
}

/******************* 
Row List - Small
*******************/
.responsive-list.sm .item {
  background: white;
  height: 64px !important;
}

.responsive-list.sm .list-img {
  border-radius: 3px !important;
  height: 40px !important;
  width: 50px !important;
}

.indicator {
  font-size: 14px;
  height: 14px !important;
  width: 14px !important;
  position: relative;
  top: 2px;
  margin-right: 8px;
  color: #f4511e;
}

.sub-m {
  margin-left: 6px;
}

/******************* 
3 Column List
*******************/
.column-list {
  align-items: center;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.unit-col {
  width: 85px;
}

.purchaser-col {
  @extend .text-overflow;
  flex: 1 1 0%;
  box-sizing: border-box;
  padding-top: 3px;
  img {
    padding-right: 2px;
  }
  .purchaser {
    @extend .label-f, .color-primary, .text-overflow;
    img {
      padding-left: 4px;
    }
  }

  .unit-price {
    @extend .label-f;
    img {
      position: relative;
      top: 1px;
    }
  }

  .unit {
    @extend .xsTitle-f;
    .mat-icon {
      @extend .xsTitle-indicator;
      margin: 0px 4px 0px 3px;
      color: #878787;
    }
  }

  .loan-officer {
    @extend .label-f;
  }
}

.responsive-col {
  @extend .text-overflow;
  flex: 1 1 0%;
  box-sizing: border-box;
}

.loan-icon-col {
  width: 24px;
  padding-top: 3px;
  img {
    position: relative;
    top: 1px;
  }
}

.loan-price-col {
  padding-top: 3px;
  width: 65px;
  margin-right: 4px;
}

/******************* 
Status Cookie
*******************/
.status-cookie {
  border-radius: 3px;
  padding: 0px 6px;
  vertical-align: middle;
  font-size: 9px;
  line-height: 14px;
  margin-left: 4px;
  font-weight: 500;
  background: #212121;
  color: #fff;
  width: fit-content;
  text-transform: uppercase;
  position: relative;
  top: -1px;
}

.status-cookie.green {
  background: #009688;
  color: #fff;
}

.status-cookie.white {
  background: $color-white;
  color: #fff;
  box-shadow: 0px 0px 3px 1px #a9a9a9;
}

.status-cookie.blue {
  background: $primary-color;
  color: #fff;
}

.status-cookie.dark-blue {
  background: $color-dark-blue;
  color: #fff;
}

.status-cookie.light-blue {
  background: #78a9ff;
  color: #fff;
}

.status-cookie.very-light-blue {
  background: #bfd3ff;
  color: #fff;
}

.status-cookie.red {
  color: #e91e63;
  background: #e91e6314;
}

.status-cookie.orange {
  background: #f7982f;
  color: #fff;
}

.status-cookie.grey {
  background: #696969;
  color: #fff;
}

.status-cookie.dim-grey {
  background: #c5c5c5;
  color: #fff;
  box-shadow: 0px 0px 3px 1px #a9a9a9;
}

.status-cookie.light-grey {
  background: #e3e3e3;
  color: #fff;
}

.status-cookie.black {
  color: #212121;
  background: #21212114;
}

.status-cookie.turquoise {
  background: #3fcec2;
  color: #fff;
}
.status-cookie.orange-light{
  color: #fff;
  background: #ed7d31;
}
.status-cookie.light-blue-c{
  color: #fff;
  background:#4571c6;
}
/******************* 
Information Banner
*******************/
.information-banner {
  margin: 8px;
  background: $primary-color;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: $color-white;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  button {
    width: 100%;
  }
}

.information-banner.light-blue {
  .mat-icon {
    color: $primary-color;
  }
  color: $color-black;
  background: $color-light-blue;
}

.information-banner.green {
  color: #009688;
  background: #00968814;
}

.information-banner.red {
  color: #e91e63;
  background: #e91e6314;
}

.information-banner.orange {
  color: #f7982f;
  background: #f7982f14;
}

.information-banner.grey {
  color: #696969;
  background: #69696914;
}

.information-banner.black {
  color: #212121;
  background: #21212114;
}

.information-banner .icon {
  float: left;
  margin-right: 10px;
  margin-top: -4px;
}

/******************* 
Swiper Gallery 
*******************/
.swiper-container.gallery {
  height: 200px;
}

.gallery .gallery-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .swiper-slide {
  background: #e8e8e8;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
}

.gallery .swiper-pagination-bullet {
  background: #fff !important;
}

.gallery .swiper-pagination-bullet-active {
  background: #f7982f !important;
  opacity: 1;
}

@media (min-width: 768px) {
  .swiper-container.gallery {
    height: 300px;
  }

  .gallery .gallery-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

/******************* 
Swiper Card 
*******************/
.card .mat-card {
  margin-left: 8px;
  margin-right: 8px;
}

.card .swiper-slide:first-child .mat-card {
  margin-left: 16px;
}

.card .swiper-slide:last-child .mat-card {
  margin-right: 16px;
}

/******************* 
Image Dialog
*******************/
.img-dialog .mat-dialog-container {
  background: none;
  box-shadow: none;
  padding: 0px !important;
}

/******************* 
Resolve Popup Blackdrop Header Gone
*******************/
.cdk-global-scrollblock {
  top: 0px !important;
}

/******************* 
Side Menu
*******************/
.active-page a {
  background: #2f53e6;
  color: rgb(0, 0, 0) !important;
  border-radius: 3px;
}

.active-page mat-icon {
  color: rgb(0, 0, 0) !important;
}

#snav {
  /* 64px cannot be used in old template */
  margin-top: 64px;
  position: fixed;
}

/******************* 
Color Label
*******************/
.color-label {
  background: #6877f7;
  color: white;
  width: fit-content;
  border-radius: 3px;
  padding: 2px 6px;
  font-size: 10px;
  &.light-grey {
    background: #f2f2f2;
    @extend .color-grey;
  }
}

/******************* 
Modal
*******************/
.ng-dialog-container,
.switch-project-dialog {
  .signature-pad {
    margin-top: 16px;
    .erase {
      float: right;
      position: relative;
      right: 0px;
    }
  }
  .uploaded-row {
    margin: 6px -16px 6px 0px !important;
  }

  .timeline {
    padding: 8px 0px 0px !important;
    margin: -10px -16px 0px !important;
  }

  max-width: 500px !important;
  width: 85vw !important;
  .mat-dialog-container {
    padding: 16px 16px 0px;
    .dialog-title {
      color: $primary-color;
      @extend .title-f;
      padding: 12px 16px;
      background: #FFF1DD;
      margin: -16px -16px 10px;
    }
    .dialog-description {
      @extend .xsDesc-f, .color-black;
      margin-bottom: 12px;
      white-space: unset !important;
    }

    .dialog-search {
      margin: -10px -16px 6px;
      background: #f5f5f5;
      display: flex;
      align-items: center;
      padding-left: 14px;
      input {
        width: 100%;
        margin: 0px;
        padding: 12px 16px 12px 10px;
        font-family: "Poppins";
        border: none;
        background: none;
      }
    }
    .dialog-buttons {
      text-align: right;
      padding: 12px 0px;
      // margin-bottom: 12px;
      button {
        background: $primary-color;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
          0px 2px 2px 0px rgba(0, 0, 0, 0.14),
          0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        color: white;
        margin-left: 16px;
      }
    }

    .mat-selection-list {
      .mat-list-item {
        border-bottom: 1px solid #e4e4e4;
      }
    }

    .dialog-footer {
      padding: 12px 0px;
      width: 100%;
      text-align: right;
      border-top: 1px solid #dedede;
      &.no-divider {
        border: none;
      }
    }
  }

  section {
    .mat-checkbox {
      display: block;
      margin-bottom: 6px;
      @extend .fs-12, .regular-font;
    }
  }

  .mat-radio-group {
    .mat-radio-label {
      white-space: normal;
    }
    .mat-radio-button {
      display: block;
      margin-bottom: 16px;
      @extend .fs-12, .regular-font;
    }
  }

  .responsive-list {
    .mat-list-item-content {
      padding: 10px 0px !important;
    }
  }

  .expand-list .mat-expansion-panel-header {
    border-bottom: 1px solid #e2e2e2;
  }

  .value-container {
    padding: 0px 0px 4px;
  }

  .core-list {
    margin: -6px -12px 0px !important;
    box-shadow: unset !important;

    .mat-radio-button {
      margin-bottom: 0px;
    }

    .mat-list-item {
      border-bottom: 1px solid #e4e4e4;
    }
  }

  .scrollable {
    height: fit-content;
    overflow-y: scroll !important;
    max-height: 320px;
    margin-top: 16px;
  }
}

/******************* 
Others
*******************/
.shadow {
  box-shadow: 0px 0px 4px 1px #dbdbdb;
  //box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.remove-blue-highlight {
  -webkit-tap-highlight-color: transparent;
}

* {
  @extend .remove-blue-highlight;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-indicator {
  font-size: 16px;
  height: 16px !important;
  width: 16px !important;
  margin-right: 4px;
  vertical-align: text-top;
  transform: rotate(0.03deg);
  &.second {
    margin-right: 16px;
  }
}

.label-indicator {
  font-size: 12px;
  height: 14px !important;
  width: 12px !important;
  vertical-align: sub;
  transform: rotate(0.03deg);
}

.xsTitle-indicator {
  font-size: 14px;
  height: 14px !important;
  width: 14px !important;
  vertical-align: sub;
  transform: rotate(0.03deg);
}

/******************* 
Expand Header
*******************/
.expand-header {
  box-shadow: 0px 0px 4px 1px #dbdbdb !important;
  border-radius: 0px !important;

  .responsive-list .item {
    background: none;
  }

  .mat-list {
    width: 100%;
  }

  .mat-expansion-panel-body {
    padding: 0px;
  }

  .mat-expansion-panel-header {
    padding: 0px 24px 0px 8px;
    background: #e5edff !important;

    .smTitle-f {
      color: #001088;
    }

    &:hover {
      background: #e5edff !important;
    }

    .mat-expansion-indicator::after {
      border-width: 0 1.5px 1.5px 0;
    }
  }

  .mat-expansion-panel-body {
    background: #e5edff !important;
    .value-container {
      padding-top: 0px !important;
    }
  }

  .mat-expansion-indicator {
    margin-left: 6px;
    margin-top: -6px;
  }
}

/*******************
Expand List
*******************/

.expand-list {
  box-shadow: unset !important;
  border-radius: 3px !important;
  .responsive-list {
    width: calc(100% - 10px);
    .item {
      background: none;
    }
  }
  .mat-expansion-panel-header {
    padding: 0px 36px 0px 0px;
    &:hover {
      background: #fff !important;
    }
  }
  .mat-list-option:hover {
    background: none;
  }

  .mat-expansion-indicator {
    position: relative;
    left: 14px;
  }

  .mat-expansion-indicator::after {
    border-width: 0 1.5px 1.5px 0;
    color: black !important;
    margin-top: -5px;
  }
  .mat-list {
    width: 100%;
  }
  .mat-expansion-panel-body {
    padding: 0px;
    background: #f5f5f5;
  }
  .list-dialog-footer {
    padding: 8px 16px;
    text-align: right;
  }

  .expand-list {
    width: 100%;
    background: none;
    .mat-expansion-panel-header {
      height: unset !important;
      &:hover {
        background: none !important;
      }
      &.mat-expanded {
        height: unset !important;
      }
    }
  }
}

/******************* 
Value Container
*******************/
.value-list {
  padding-left: 40px;
}

.value-container {
  padding: 12px 12px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .xsDesc-f {
    @extend .color-grey;
  }
  &.with-checkbox {
    padding-left: 40px !important;
  }
  &.with-icon {
    padding-left: 48px !important;
  }
  .full-col {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
    margin-bottom: 12px;
  }

  .half-col {
    box-sizing: border-box;
    flex: 1 1 50%;
    max-width: 50%;
    margin-bottom: 14px;
  }
}

/******************* 
Status Circle
*******************/
.status-circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  margin-right: 5px;
}

.status-square {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 3px;
  margin-right: 3px;
  top: 1px;
  position: relative;
}

.status-circle.orange,
.status-square.orange {
  background: #f7c22f;
}

.status-circle.green,
.status-square.green {
  background: #04ae91;
}

.status-circle.yellow,
.status-square.yellow {
  background: $color-yellow;
}

.status-square.grey {
  background: #878787;
}

//   Dropdown Radio
// Filtration
.filtration {
  margin-top: 6px;
  .mat-card {
    margin: 0px 8px 2px;
    box-shadow: $box-shadow !important;
  }
  div:first-child .mat-card {
    margin-right: 4px;
  }
  div:last-child .mat-card {
    margin-left: 4px;
  }
}

.column-radio {
  padding: 12px 16px 0px;
  .mat-radio-button {
    display: block;
    margin-bottom: 16px;
    overflow: unset;
    font-weight: 500 !important;
    color: #212121;
  }

  .mat-radio-outer-circle,
  .mat-radio-container,
  .mat-radio-inner-circle {
    height: 16px;
    width: 16px;
  }

  .mat-menu-content:not(:empty) {
    padding: 0px;
  }
}

//Drag & Drop
.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.mat-list-item.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  padding: 16px;
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.opacity-0 {
  opacity: 0;
}

.show-overflow {
  white-space: normal !important;
}

.news-cover {
  width: 100%;
  img {
    width: 100%;
  }
}

.login-register-box .mat-focused .mat-form-field-label {
  color: #bfd3ff !important;
}

.login-register-box .mat-focused .mat-form-field-ripple {
  background-color: #bfd3ff !important;
}

.capitalize {
  text-transform: capitalize;
}

.mat-menu-panel {
  min-height: fit-content !important;
}

.align-item-center {
  align-items: center;
}

.select-all-check {
  padding: 8px 18px 0px;
}

.select-all-check .mat-checkbox-label {
  font-size: 12px;
  font-weight: 600;
  margin-left: 8px;
}

// Mobile Plugin
.country-list-button {
  white-space: break-spaces !important;
  opacity: 100 !important;
}

.country-selector {
  opacity: 100 !important;
  left: -12px !important;
}

//Mat List Option BackGround
.mat-list-option {
  background: none !important;
}

.with-checkbox {
  padding-left: 30px;
  .mat-checkbox {
    width: 100%;

    .mat-checkbox-layout {
      width: 100%;
      .mat-checkbox-label {
        width: 100%;
        .xsDesc-f {
          white-space: pre-line;
        }
      }
    }
  }
}

.profile-bg {
  width: 100%;
  object-fit: cover;
  height: 135px;
  margin-bottom: -40px;
}

.user-profile .profile-img img {
  object-fit: cover;
}

.profile-img-upload {
  object-fit: cover;
}

.profile-text a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-text i {
  position: absolute;
  right: 16px;
  margin-top: 6px;
}

.long-input-chip {
  .mat-chip {
    div {
      width: 60px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sales-chart .mat-tab-label .mat-tab-label-content {
  padding-right: 0px;
}

.text-capitalize {
  text-transform: capitalize;
}

/***************
Footer Sales-Gallery
****************/
.footer-unit {
  padding: 10px 0px;
  align-items: center;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  height: auto;
  z-index: 10;
  cursor: pointer;
  justify-content: space-around;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .footer-unit {
    width: calc(100% - 270px);
    left: unset;
    right: 15px;
    bottom: 0px;
    transition: 0.3s;
  }
}
