@import "variable.scss";

.core-list {
  margin: 4px 8px !important;
  box-shadow: $box-shadow !important;
  cursor: pointer;
  .mat-list-item-content .mat-icon:last-child {
    margin-left: 8px;
  }

  &.deactive {
    background: #d5d5d5;
  }
  &.subheader {
    display: none;
    margin: 0px 0px 6px !important;
    background: #FFF1DD;
    border-radius: 0px;
    .xsTitle-f {
      color: $primary-color;
    }
  }
  &.subheader-set {
    margin: -6px 0px 6px !important;
    background: $color-light-blue;
    border-radius: 0px;
    display: none;
  }

  &.with-svg {
    .mat-expansion-panel-body {
      padding-left: 52px;
      .mat-list {
        width: 100%;
        margin-top: -12px;
        margin-left: -12px;
      }
    }
  }

  &.with-search {
    margin-bottom: 0px !important;
  }

  .expand-list {
    .mat-expansion-panel-header {
      .mat-list-base .mat-list-item .mat-list-item-content {
        padding-right: 0px !important;
      }
    }
  }

  .mat-selection-list {
    .mat-list-item {
      border-bottom: 1px solid #e4e4e4;
    }

    .mat-icon {
      // align-self: center;
    }
  }

  .mat-list-icon {
    padding: 0px !important;
  }

  .mat-expansion-panel {
    box-shadow: unset !important;

    .mat-list,
    .mat-selection-list {
      width: 100%;
    }
  }
  .mat-expansion-panel-header {
    padding: 0px 12px 0px 0px;
    &.mat-expanded {
      .mat-expansion-indicator {
        margin-top: 4px;
      }
    }
  }
  .mat-expansion-indicator {
    width: 24px;
    height: 24px;
    text-align: center;
    margin-top: -2px;
    &::after {
      color: #212121;
      border-width: 0 1.5px 1.5px 0;
    }
  }
  .mat-expansion-panel-body {
    padding: 12px 12px 0px;
    background: #e8e8e8;
    display: flex;
    flex-wrap: wrap;

    .core-list {
      width: 100%;
      margin: 0px !important;
      background: none;
      box-shadow: none !important;
    }
  }

  .mat-list-base {
    padding-top: 0px;
    .mat-list-item {
      height: unset !important;
      padding: 0px;
      .mat-list-item-content {
        padding: 10px 12px !important;
      }
    }
  }
  .list-img {
    border-radius: 3px !important;
    height: 40px !important;
    width: 55px !important;
    border: 1px solid #eaeaea;
  }

  .avatar-img {
    border-radius: 3px !important;
    height: 40px !important;
    width: 55px !important;
    border: 1px solid #eaeaea;
  }

  .list-icon {
    height: 24px !important;
    width: 24px !important;
    border-radius: 0 !important;
    -o-object-fit: contain !important;
    object-fit: contain !important;
    align-self: center;
  }
  .mat-card-actions {
    padding: 8px 12px !important;
    display: flex;
    flex-flow: row-reverse;
    background-color: #f5f5f5;
    button {
      margin-left: 12px;
      span {
        font-size: 12px;
      }
    }
  }
}

.unit-space {
  width: 120px;
}

.contact-row {
  flex-direction: row;
  box-sizing: border-box !important;
  display: flex !important;
  line-height: 14px;
}

.date-space {
  width: 100px;
}

.content-wrapper {
  margin-bottom: 16px !important;
  width: 50%;
  &.single {
    margin-bottom: 8px !important;
  }
  &.full {
    width: 100%;
  }
  &.list {
    width: 100%;
    display: flex;
    align-items: center;
    .content {
      flex: 1;
    }
    .popup-btn {
      font-size: 10px;
      font-weight: 500;
      color: $color-grey;
      background: #f2f2f2;
      width: fit-content;
      padding: 0px 6px;
      cursor: pointer;
      border-radius: 3px;
      &.active {
        color: $color-white;
        background: $primary-color;
      }
    }
  }
}

.element-input {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    .element-label {
      margin-top: 6px;
      width: 100%;
    }
  }
}

.core-menu {
  .mat-menu-item {
    font-size: 12px;
    line-height: 16px;
    height: fit-content;
    font-weight: 500;
    padding: 12px 16px;
    &.required {
      color: #e91e63;
    }
  }
}

.function-menu {
  max-width: 750px;
  display: flex;
  padding: 6px 0px 6px 8px;
  margin: 0 auto;
  .menus {
    padding-right: 8px;
    flex: 1;
    text-align: center;
    @extend .fs-10, .semibold-font;
    .menu-container {
      cursor: pointer;
      padding: 6px 8px;
      background: $color-light-blue;
      box-shadow: $box-shadow;
      border-radius: 3px;
    }
  }
}

.read-notify {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background: #2f53e6;
  margin: 4px 10px 0px 0px;
  &.seen {
    background: unset;
  }
}

.actions {
  text-align: right;
  padding: 8px 12px;
  button:first-child {
    margin-right: 12px !important;
  }
}

.single-row {
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  .status-cookie {
    margin-left: 0px;
    margin-right: 4px;
  }
}

.legend-row {
  &.at-bottom {
    position: fixed;
    bottom: 60px;
    @media screen and (min-width: 768px) {
      width: calc(100% - 270px);
      left: unset;
      right: 15px;
    }
  }
  padding-bottom: 10px;
  padding-top: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  .status-cookie {
    margin-left: 0px;
    margin-right: 4px;
  }
}

.unit-status-col {
  width: 80px;
}

.unit-status-lg-col {
  width: 110px;
}

.unit-no-col {
  flex: 1;
  text-align: right;
}

.unit-value-col {
  width: 110px;
  text-align: right;
}

.value-label-col {
  width: 60px;
  overflow: hidden;
}

.value-label-lg-col {
  width: 95px;
  overflow: hidden;
}
