.mortgage-result {
  padding-top: 10px;
}

.mortgage-result .total-per-month {
  font: bold 20px/12px Poppins;
  font-display: swap;
}

.mortgage-result div {
  font-size: 15px;
  line-height: 30px;
}

.interest-legend {
  height: 9px;
  width: 9px;
  background: #26dad2;
  border-radius: 50%;
  display: inline-block;
  vertical-align: inherit;
  margin-bottom: 1px;
  margin-right: 5px;
}

.principal-legend {
  height: 9px;
  width: 9px;
  background: #1976d2;
  border-radius: 50%;
  display: inline-block;
  vertical-align: inherit;
  margin-right: 5px;
  margin-bottom: 1px;
}
