/* Page Container */
.responsive-content {
  padding: 64px 0px 16px;

  &.with-fixedbar {
    padding-top: 50px;
  }
  &.with-float {
    padding-bottom: 100px;
  }
  &.with-footer {
    padding-bottom: 150px;
  }
  &.with-2-float {
    padding-bottom: 165px;
  }
}

@media (min-width: 768px) {
  .responsive-content {
    padding: 0px 15px 15px;
  }

  .responsive-content.with-fixedbar {
    padding-top: 0px;
  }
}
