@import "variable.scss";

.ngx-pagination {
  font-size: 12px;
  background: white;
  width: fit-content;
  box-shadow: $box-shadow !important;
  border: 3px;
  margin: 10px 8px 10px auto !important;
  padding: 6px 10px;
}

.ngx-pagination .pagination-next a,
.ngx-pagination .pagination-previous a {
  background: #2f53e6;
  color: white !important;
  font-weight: 500;
  border-radius: 3px !important;
}

.ngx-pagination .pagination-next {
  margin-left: 10px;
}

.ngx-pagination .pagination-previous {
  margin-right: 10px;
}

.ngx-pagination .small-screen {
  font-weight: 500;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #2f53e6 !important;
  color: white;
  border-radius: 3px;
}

.ngx-pagination .disabled {
  background: #dcdcdc;
  color: #7d7d7d !important;
  font-weight: 500;
  border-radius: 3px !important;
}

.ngx-pagination .current {
  background: #2f53e6 !important;
  color: white;
  border-radius: 3px;
}
