.search-bar {
  padding: 0px !important;
  background: white;
  margin-bottom: 6px;
  .mat-list-item {
    box-shadow: 0px 0px 4px 1px #dbdbdb;
    height: fit-content !important;
  }
  .mat-list-text span {
    @extend .fs-12, .medium-font;
    .count {
      @extend .color-primary, .medium-font;
    }
  }
  &.stick {
    top: 63px;
    z-index: 1;
    width: 100%;
    position: fixed;
    @extend .shadow;
  }
  &.with-back {
    .mat-list-text {
      padding-left: 8px !important;
    }
  }
  .mat-icon {
    cursor: pointer;
    font-size: 20px;
  }
}

.search-project {
  display: none;
  width: 100%;
  z-index: 10;
  position: absolute;
  .form-control {
    background: #e4eeff;
    font: 400 14px/25px Poppins;
    border: none;
    box-shadow: 0px 0px 4px 1px #dbdbdb;
    padding: 8px 16px;
  }
  .cl-srh-btn {
    top: 4px;
    padding-top: 10px;
    right: 11px;
    width: 40px;
    text-align: center;
    height: 40px;
    font-size: 11px;
    position: absolute;
    color: #67757c;
    cursor: pointer;
    @extend .remove-blue-highlight;
  }
}

@media (min-width: 768px) {
  .search-project {
    width: calc(100% - 30px);
  }

  .search-bar.stick {
    position: unset;
    box-shadow: unset;
  }
}
