@import "variable.scss";
@import "typography.scss";

.tab-white-header {
  .mat-tab-header {
    background: white;
    .mat-tab-label {
      height: 44px;
      font-size: 12px;
    }
  }

  .mat-tab-label-active {
    opacity: 1;
    color: #212121;
  }
}
