@import "variable.scss";
/*******************
Timeline page
******************/
.timeline {
  &.two-row .timeline-badge {
    top: 8px;
  }
  position: relative;
  padding: 8px 0 1px;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #f5f5f5;
}

.timeline > li {
  position: relative;
  margin-bottom: 10px;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 10px;
}

.timeline > li > .timeline-badge {
  z-index: 10;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  overflow: hidden;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -8px;
  border-right-width: 8px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -7px;
  border-right-width: 7px;
  border-left-width: 0;
}

.timeline-badge.green {
  background: $color-green;
}

.timeline-badge.orange {
  background: $color-orange;
}

.timeline-badge.red {
  background: $color-red;
}

.timeline-badge.blue {
  background: $primary-color;
}

.timeline-badge.grey {
  background: $color-grey;
}

.timeline-badge.light-grey {
  background: $color-light-grey;
}

.timeline-badge.primary {
  //   background-color: $primary;
}

.timeline-badge.success {
  //   background-color: $success;
}

.timeline-badge.warning {
  //   background-color: $warning;
}

.timeline-badge.danger {
  //   background-color: $danger;
}

.timeline-badge.info {
  //   background-color: $info;
}

.timeline-title {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 14px;
  color: inherit;
  font-weight: 600;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
  font-size: 12px;
  margin-top: 0px;
}

.timeline-body > p + p {
  margin-top: 5px;
}

//This is for the responsive timeline
@media (max-width: 767px) {
  /*Timeline*/
  ul.timeline:before {
    left: 23px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 32px);
  }
  ul.timeline > li > .timeline-badge {
    top: 14px;
    left: 19px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}

.timeline-body-pic {
  max-width: 70px;
  margin: 0px 5px;
  /* padding: 5px; */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.timeline-feedback-box {
  margin: 5px 0px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  background: whitesmoke;
}

@media (max-width: 767px) {
  .timeline-stick-left {
    ul.timeline:before {
      left: 20px;
    }
    ul.timeline > li > .timeline-badge {
      left: 15px;
    }
    ul.timeline > li > .timeline-panel {
      width: calc(100% - 36px);
    }
  }
}
