@import "variable.scss";

.title-f {
  font-size: 16px !important;
  line-height: 18px;
  @extend .semibold-font, .text-overflow;
}

.smTitle-f {
  font-size: 14px !important;
  line-height: 16px;
  @extend .semibold-font, .text-overflow;
}

.xsTitle-f {
  font-size: 12px !important;
  line-height: 16px;
  @extend .semibold-font, .text-overflow;
}

.xxTitle-f {
  font-size: 10px !important;
  line-height: 12px;
  @extend .semibold-font, .text-overflow;
}

.label-f {
  font-size: 10px !important;
  line-height: 14px;
  color: #878787;
  @extend .regular-font, .text-overflow;
}

.value-f {
  line-height: 14px;
  font-size: 12px !important;
  padding-right: 4px;
  @extend .medium-font, .text-overflow;
}

.desc-f {
  font-size: 12px !important;
  line-height: 14px;
  @extend .regular-font, .text-overflow;
}

.xsDesc-f {
  line-height: 14px;
  font-size: 10px !important;
  color: $color-grey;
  @extend .regular-font, .text-overflow;
}

.highlight-f {
  @extend .heavy-font;
  color: $primary-color;
}

.sub-highlight-f {
  @extend .medium-font;
  color: $primary-color;
}

.fs-8 {
  font-size: 8px !important;
  line-height: 12px;
}

.fs-10 {
  font-size: 10px !important;
  line-height: 14px;
}

.fs-12 {
  font-size: 12px !important;
  line-height: 16px;
}

.fs-14 {
  font-size: 14px !important;
  line-height: 18px;
}

.fs-16 {
  font-size: 16px !important;
  line-height: 20px;
}

.fs-18 {
  font-size: 18px !important;
  line-height: 20px;
}

.light-font {
  font-weight: 300 !important;
}

.regular-font {
  font-weight: 500 !important;
}

.medium-font {
  font-weight: 600 !important;
}

.semibold-font {
  font-weight: 700 !important;
}

.heavy-font {
  font-weight: 800 !important;
}

/******************* 
Text Decoration
*******************/
.underline {
  text-decoration: underline;
}

.strike-through {
  text-decoration: line-through;
}

.download-link {
  @extend .underline, .highlight-f;
  cursor: pointer;
}

.vertical-divider {
  margin: 0px 4px;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-text {
  display: flex;
  // align-items: center;
  align-items: baseline;
  overflow: hidden;
  line-height: 14px;
  .mat-icon {
    margin-right: 4px;
  }
  img {
    margin-right: 4px;
    padding-top: 4px;
    object-fit: contain;
  }
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.indicator-12 {
  font-size: 12px;
  height: 12px !important;
  width: 12px !important;
  transform: rotate(0.03deg);
  position: relative;
  top: 2px;
}

.indicator-14 {
  font-size: 14px;
  line-height: 12px;
  height: 14px !important;
  width: 14px !important;
  transform: rotate(0.03deg);
  position: relative;
  top: 2px;
}

.indicator-16 {
  font-size: 16px;
  line-height: 12px;
  height: 16px !important;
  width: 16px !important;
  transform: rotate(0.03deg);
  position: relative;
  top: 3px;
}

.hide-two-line {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: unset !important;
}

.reverse-icon {
  transform: rotate(180deg);
}

.tooltip-icon {
  float: right;
  margin-left: 5px;
}

.primary-tooltip {
  background: $primary-color !important;
  font-size: 12px !important;
  margin-top: 8px !important;
}

.content-wrapper .tooltip-icon {
  float: unset;
  position: relative;
  top: 2px;
  margin-left: 0px;
}

.copyright-label {
  position: fixed;
  bottom: 12px;
  width: 100%;
  color: white;
  font-size: 10px;
  text-align: center;
}

.required {
  color: #e91e63;
}
