@import "variable.scss";
.unit-selection-container {
  overflow: auto;
  height: calc(100vh - 166px);
  @media screen and (min-width: 768px) {
    height: calc(100vh - 243px);
  }
  &.booking {
    height: calc(100vh - 206px);
    @media screen and (min-width: 768px) {
      height: calc(100vh - 284px);
    }
  }
  &.integration {
    height: calc(100vh - 54px);
  }
  &.with-legend {
    height: calc(100vh - 200px);
    @media screen and (min-width: 768px) {
      height: calc(100vh - 280px);
    }
  }
  .mat-table {
    background: #f5f5f5;
  }

  button {
    font-size: 12px;
    line-height: 16px;
    width: 100% !important;
    padding: 10px 10px;
    min-width: 66px;
    &.unavailable {
      background: #c5c5c5;
    }
    &.filtered {
      opacity: 0.5;
    }
    &.available {
      background: $color-green;
    }
    &.booked {
      background: $color-orange;
    }
    &.green {
      background: $color-green;
    }
    &.orange {
      background: $color-orange;
    }
    &.blue {
      background: $primary-color;
    }
    &.dim-grey {
      background: #c5c5c5;
    }
  }
  .mat-cell {
    border: none;
    padding: 8px 8px;
    text-align: center;
    &:first-of-type {
      padding-left: 12px !important;
      background: $color-light-blue;
      button {
        min-width: 65px;
        padding: 10px 4px;
        // max-width: 65px;
      }
    }
  }
  .mat-header-cell {
    text-align: center;
    border: none;
    padding: 8px 8px;
    background: $color-light-blue;
    &:first-of-type {
      padding-left: 12px !important;
      button {
        min-width: 65px;
        padding: 10px 4px;
        // max-width: 65px;
      }
    }
  }

  .mat-row,
  .mat-header-row {
    height: unset;
  }

  th {
    padding: 0px 8px;
  }
}
