$primary-color: #FF9800;
$color-dark-blue: #000098;
$color-light-blue: #e5edff;

$color-green: #21c986;
$color-red: #ff4568;
$color-orange: #ffb11f;
$color-yellow: #ffeb3b;

$color-black: #212121;
$color-grey: #474747;
$color-light-grey: #9f9f9f;
$color-white: #fff;
$color-beige: #FFF8EC;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.05); ;
